- name: "NPM Identity"
  env:
    NPM_TOKEN: "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"
  run: |
    echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > .npmrc
- name: "Publish"
  run: |
    npx lerna publish from-package --no-verify-access --yes